.loginButton {
  font-family: Montserrat;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton:hover {
  cursor: pointer;
}

@media screen and (max-width:960px) {
  .loginButton {
    margin-right: 0px;
  }
}